Source: funca-program
Section: utils
Priority: optional
Maintainer: Your Name <kovalvlada0910@gmail.com>
Build-Depends: debhelper-compat (= 12), autotools-dev

Package: funca-program
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ program implementing FuncA
